html {
    color: white;
    /*background: url("") no-repeat center center fixed;*/
    background: green;
    background-size: cover;
    width: 78%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    text-align: center;
    font-family: Verdana, Arial;
    font-size: medium;
}

canvas {
    opacity: 0.5;
    background: black;
    border: 0px solid black;
    box-shadow: 0px 0px 0px blue;
    text-align: center;
    display: block;
    margin: 1px auto;
}